{% extends "page.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/blog.html" import render_cards %}
{% block title %}{{this.title}}{% endblock %}
{% block body %}
{% for entry in this.pagination.items %}
    <article class="ui vertical segment">
        <h2 class="header"><a href="{{entry|url}}">{{entry.title}}</a></h2>
        <div class="meta">
            {% if this.pub_date %}<span class="date"><i class="calendar icon"></i>{{this.pub_date|dateformat}}</span> {% endif %}
            {% if this.author %}by <i class="user icon"></i><span class="author">{{this.author}}</span>{% endif %}
        </div>
        <div class="content">
        {{entry.body}}
        </div>
    </article>
{% endfor %}
{{ render_pagination(this.pagination) }}
{% endblock %}
