{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block heading %}<h2>{{this.title}}</h2>{% endblock %}
{% block style %}
{% if this.background %}
{% set bg_image = this.attachments.get(this.background) %}
<style>
    .main.heading {
        background-image: url({{bg_image|url}});
        background-attachment: fixed;
        background-position: 0 0;
        background-size: 100% auto;
    }

    .main.heading .inner {
      background-color: rgba(0, 0, 0, .2);
      background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
      background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
      -webkit-background-size: 3px 3px;
      -moz-background-size: 3px 3px;
      background-size: 3px 3px;
    }
</style>
{% endif %}
{% endblock %}
{% block script %}
<script>
    $(window).on('scroll', function() {
        var heading = $('.main.heading');
        var offset = -$(this).scrollTop() / 2;
        heading.css({'background-position': '0 ' + offset + 'px'});
    });
</script>
{% endblock %}
{% block body %}
    <article class="ui vertical blog-post segment">
        <div class="meta">
            {% if this.pub_date %}<span class="date"><i class="calendar icon"></i>{{this.pub_date|dateformat}}</span> {% endif %}
            {% if this.author %}by <i class="user icon"></i><span class="author">{{this.author}}</span>{% endif %}
        </div>
        <div class="content">
        {{this.body}}
        </div>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                // this.page.url = "{{this|url}}";
                this.page.identifier = "{{this._id}}";
            };

            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//changkyunkim.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    </article>
{% endblock %}
