@media screen and (min-width: 980px) {
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
}

body {
	font-family: "AppleSDGothic", "Nanum Gothic", sans-serif;
}

.top.bar {
	position: fixed;
	top: 0;
	z-index: 9999;
	left: 0;
	padding: 1em 0;
	width: 100%;
	box-shadow: 0 0 0 0 transparent;
	border-bottom: 0;
	background-color: transparent;
	border-color: transparent;
	transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}

.scrolled.top.bar {
	background-color: #FFF;
	padding: 0 0;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
}

.top.bar > .menu {
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	background-color: transparent;
	border-width: 0;
	border-color: transparent;
	transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}

.scrolled.top.bar > .menu a {
	color: black;
}

.page.container {
	min-height: 600px;
	margin-top: 5em;
}

.main.heading {
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);*/

	/*background: #F1F2B5; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(-45deg, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(-45deg, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/*/*/


	background: #53346D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	/*background-size: 100px 100px, cover;*/
	color: #FFF;
	padding: 14em 0 4em;
	transition: padding 0.5s ease, background 0.5s ease;
}

.main.heading h2 {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

@media screen and (max-width: 736px) {

	.main.heading {
		padding: 6em 2em 2em;
	}
}
@media screen and (max-width: 480px) {
	.main.heading h2 {
		font-size: 1.5em;
	}
}

.page.footer {
	background: #eee;
	padding: 2em 0;
}

.blog-post.segment .meta {
	color: #888;
	margin-top: -5em;
	margin-bottom: 2em;
}

/* --- */
.highlight {
	background: #eee;
	padding: 1.5em;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
